body {
	background: #1f1f1f;
	color: #ebe5de;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.clouds_set {
	width: 100%;
	height: 56.25vw;
	min-width: 1920px;
	min-height: 1080px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	visibility: visible;
	pointer-events: none;
}

.clouds {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

.clouds_set * {
	transition: all 2s ease-in;
}

.cloud {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	transform-origin: 0 0;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	will-change: transform;
}

.cloud:nth-child(1) {
	height: 975px;
	width: 2277px;
	left: -702px;
	top: -502px;
	transform-origin: inherit;
}

.cloud:nth-child(2) {
	width: 3826.11px;
	height: 1571.56px;
	left: -1041.08px;
	top: -879px;
	transform: rotate(23.51deg);
	z-index: 0;
}

.cloud:nth-child(3) {
	width: 1653.03px;
	height: 678.98px;
	left: -440px;
	top: 430px;
	transform: scaleY(-1);
	transform-origin: initial;
}

.cloud:nth-child(4) {
	width: 2196.61px;
	height: 902.25px;
	left: 0;
	top: 913.22px;
	transform: scaleY(-1);
}

.cloud:nth-child(5) {
	width: 1945px;
	height: 833px;
	left: 390px;
	top: 900px;
	transform: scaleY(-1);
	transform-origin: initial;
	z-index: 9;
}

.cloud:nth-child(6) {
	width: 1669px;
	height: 1346px;
	left: 717.2px;
	top: 49px;
	transform: rotate(-186deg);
	transform-origin: initial;
	z-index: 10;
}

.cloud:nth-child(7) {
	width: 704px;
	height: 885px;
	left: 1158.2px;
	top: 358px;
	transform: rotate(40.79deg);
}

.cloud:nth-child(8) {
	width: 584px;
	height: 735px;
	left: 1300px;
	top: 251px;
	z-index: 9;
}

.cloud:nth-child(9) {
	width: 1669px;
	height: 1346px;
	left: -676px;
	top: 155px;
	transform: rotate(-108.2deg);
	transform-origin: initial;
	z-index: 11;
}


.cloud:nth-child(10) {
	width: 1612px;
	height: 803px;
	left: 871px;
	top: 789px;
	z-index: 10;
}


.opened .cloud:nth-child(1) {
	transform: rotate(-19.14deg)
}

.opened .cloud:nth-child(2) {
	left: -2301.08px;
	top: -1225px;
}

.opened .cloud:nth-child(3) {
	transform: scaleY(-1) rotate(17.35deg)
}

.opened .cloud:nth-child(6) {
	left: 623.2px;
	top: 49px;
}

.opened .cloud:nth-child(7) {
	left: 1257.2px;
	top: 650px;
}

.opened .cloud:nth-child(8) {
	left: 1329px;
	top: 251px;
}

.opened .cloud:nth-child(9) {
	left: -946px;
	top: 250px;
}

.opened .cloud:nth-child(10) {
	left: 934px;
	top: 838px;
}
